.header {
  padding: 5px;
  background: $color-orange;
  color: $color-white;
}

.logo {
  float: left;
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 10px;
}

.main-navigation {
  display: inline-block;
  float: right;
  margin-right: 30px;
  line-height: 100%;
  padding-top: 9px;
}

.main-navigation__item {
  display: inline;
  font-size: 100%;
  text-transform: uppercase;
  cursor: pointer;
}

.search {
  float: right;
  width: 100%;
  max-width: 200px;
}